
:root {
  --height: 100vh;
  --modal-width: 900px;
  --list-width: 280px;
  /* SCROLLBAR COLORS */
  --scrollbar-grey: #b3b3b3;
  --scrollthumb-grey: #808080;
  /* NEW COLORS */
  --new-colors-white: #FFFFFF;
  --new-colors-grey: #444444;
  --new-colors-grey-light: #B9BFBF;
  --new-colors-grey-dark: #2C2C2C;
  --new-colors-black-light: #272528;
  --new-colors-black: #1E1E1E;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1300px) and (min-width: 1000px){
  :root {
    --modal-width: 600px;
  }
}

@media (max-width: 1000px){
  :root {
    --modal-width: 95%;
    --list-width: 95%;
    --new-colors-black-dark: #141414;
  }
}


*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-grey);
  border-radius: 5px;
  height: 10vh;
  position: absolute;
  top: 30%;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollthumb-grey);
}