@import './base.css';

body::-webkit-scrollbar{
  display: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--new-colors-black);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1000px){
  .tab-switcher:checked ~ div.modal-container {
    display: none !important;
  }

  .tab-switcher:checked ~ div.list {
    display: block !important; 
  }

  .tab-switcher:checked ~ div.nav-mobile > label::before {
    --text: "‹ Auswahl";
  }
}